/* Targets the entire document to specify font family */
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Declaring variables to use throughout web page */
:root {
    --navBarColor: rgb(25, 27, 121);
    --backgroundColor: rgb(182, 206, 212);
    --accentColor: rgb(76, 167, 162);
    --blockTextColor: rgb(0, 0, 0);
    --widthOfTextBlocks: 800px;
}

/* Puts my name on the top left as an item NOT IN NAV BAR. */
.name {
    color: var(--backgroundColor);
    background-color: var(--navBarColor);
    display: flex;
    align-items: center;
    width: 100%;
}

/* Puts nav bar list items on the right with good spacing */
.name nav{
    font-size: 15px;
    color: var(--accentColor);
    margin-left: auto;
}

/* Spacing and font specs for nav bar links */
.name a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    text-decoration: none;
}

/* Puts list items inline */
.name li {
    display: inline;
}

/* Underlines the items in the nav bar */
.underlineNav {
    display: inline-block;
    position: relative;
}

/* Creates the underline for the nav bar items */
.underlineNav::after {
    content: '';
    height: 2px;
    width: 60%;
    background: var(--backgroundColor);
    position: absolute;
    left: 50%;
    bottom: 0;
}

/* Creates the image that sits under the nav bar and formats it properly */
.backgroundimg {
    background-image: url("../images/highway.jpg");
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--backgroundColor);
}

/* Puts a text box on top of the images */
.textBox {
    bottom: 80%;
    left: 20%;
    text-align: center;
    color: var(--accentColor);
}

/* Targets the projectName class to specify font for the name of attached deployed project */
.projectName {
    font-size: 15px;
}

/* Targets the language subtitle for the deployed project */
.language {
    font-size: 12;
}

/* Specifies color and padding for the project title box */
.projectName, .language {
    color: var(--blockTextColor);
    padding: 10px 32px;
}

/* Formats the largest image for the featured deployed project */
.largestImage img{
    height: 150px;
    content: 10px solid var(--accentColor);
}

/* Formats the paragraphs and images so they are all lined up nicely */
#sectionParents p, img {
    font-size: 15px;
    padding-left: 30px;
    color: var(--blockTextColor);
    /* background-color: red; */
    position:relative;
    top: 1px;
    bottom: 800px;
    left: 300px;
    width: var(--widthOfTextBlocks);
}

/* Inserts left borders only  */
#sectionParents p, img:not(:nth-child(2n)), .contactMeBar li:first-child {
border-left: 3px solid var(--navBarColor);
}

/* Targets the titles of each section */
.sectionTitles {
    font-size: 40px;
}

/* Crerates a row for the images so they can be wrapped */
.row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

/* Formatting for image grid */
.row img {
    /* box-sizing: border-box; */
    display: flex;
    width: 34%;
    height: 150px;
    padding: 10px;
    border: 10px solid var(--accentColor);
}

/* @media screen and (max-width: 800px) {
    .column {
        flex:50%;
        max-width: 50%;
    }
} */

/* Targets and formats the subtitle */
#subtitle {
    text-align: right;
    position: absolute;
    top: 120px;
    right: 0px;
}

/* Spacing and font specs for Contact Me list items */
.contactMeBar {
    /* justify-content: space-between; */
    font-size: 18px;
    color: var(--accentColor);
	margin: 12px auto;
    width: var(--widthOfTextBlocks);
    position: relative;
    left: 60px;
}

/* Formatting for the Contact Me links */
#horizontal-list a {
    padding-left: 80px;
    text-decoration: none;
    /* border-bottom: 3px solid var(--navBarColor); */
}

/* Formatting for the Contact Me section */
#horizontal-list {
	list-style: none;
	padding-top: 20px;
}

/* Formatting for the Contact Me list items */
#horizontal-list li {
	display: inline;
}

/* Puts underline under the Contact Me items */
.underlineCM {
    display: inline-block;
    position: relative;
}

/* Formats the underlines to make them under each word */
.underlineCM::after {
    content: '';
    height: 2px;
    width: 50%;
    background: var(--navBarColor);
    position: absolute;
    left: 50%;
    bottom: 0;
}
