*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* declaring variables to use throughout web page */
:root {
    --navBarColor: rgb(25, 27, 121);
    --backgroundColor: rgb(182, 206, 212);
    --accentColor: rgb(76, 167, 162);
    --blockTextColor: rgb(0, 0, 0);
}

body {
    background-color: var(--backgroundColor);
}

.name {
    color: var(--backgroundColor);
    text-align: left;
    background-color: var(--navBarColor);
}

.name nav {
    display: inline;
    justify-content: space-between;
    font-size: 15px;
    color: var(--accentColor);
    float: right;
}

.name nav ul {
    list-style-type: none;
}

.name nav ul li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    margin: 10px;
}

.aboutMeBlurb h3 {
    font-size: 25px;
    color: var(--blockTextColor);
}

.sectionTitles {
    font-size: 40px;
}

#subtitle {
    text-align: right;
}